*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
figure,
p {
    margin: 0;
}

:root {
    --BG-COLOR: hsl(217, 54%, 11%);
    --CARD-BG-COLOR: hsl(216, 50%, 16%);
    --LINE-COLOR: hsl(215, 32%, 27%);
    --CYAN-TEXT: hsl(178, 100%, 50%);
    --OVERLAY-COLOR: hsl(215, 51%, 70%);
    --TEXT-COLOR: hsl(213, 14%, 55%);
    --AUTHOR-COLOR: rgb(207, 226, 231);

    font-family: 'Outfit', sans-serif;
}

body {
    height: 100lvh;
    background-color: var(--BG-COLOR);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description,
.daysLeft,
.authorComplete {
    font-size: 16px;
}

.grayBlue {
    color: var(--TEXT-COLOR);
}

.nft-card {
    max-width: 21rem;
    background-color: var(--CARD-BG-COLOR);
    padding: 22px;
    border-radius: 16px;
    margin-inline: 18px;
    box-shadow: 0 16px 32px 16px rgba(0, 0, 0, 0.2);
}

.main-img-container {
    position: relative;
}

.equilibrium {
    width: 100%;
    display: block;
    border-radius: 9px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
}

.overlay:hover {
    opacity: 1;
    background-color: hsla(178, 100%, 50%, 50%);
    transition: 0.1s;
    cursor: pointer;
}

h1 {
    color: white;
    font-size: 1.3rem;
    padding-block: 1.4rem 1.1rem;
    font-weight: 400;
    transition: 0.1s;
}

h1:hover {
    color: var(--CYAN-TEXT);
    cursor: pointer;
    transition: 0.1s;
}

.description {
    margin-bottom: 1.4rem;
}

.price-and-daysLeft,
.eth-and-price,
.clock-and-days,
.avatar-and-author {
    display: flex;
}

.price-and-daysLeft {
    padding-bottom: 1.3rem;
    border-bottom: 1px solid var(--LINE-COLOR);
    justify-content: space-between;
}

.eth-icon,
.clock {
    margin-right: 0.4rem;
    height: 80%;
    margin-top: 0.17rem;
}

.price {
    color: var(--CYAN-TEXT);
    font-weight: 400;
    white-space: nowrap;
}

.daysLeft {
    white-space: nowrap;
    font-weight: 600;
}

.avatar-and-author {
    margin-block: 0.9rem 0.5rem;
}

.avatar {
    border: 1px solid white;
    border-radius: 16px;
    margin-right: 1rem;
}

.author {
    color: var(--AUTHOR-COLOR);
    transition: 0.1s;
}

.author:hover {
    color: var(--CYAN-TEXT);
    cursor: pointer;
    transition: 0.1s;
}

.authorComplete {
    margin-top: 0.3rem;
}

footer {
    margin-top: auto;
    text-align: center;
}

.no-wrap {
    white-space: nowrap;
}